/* ====================================== *
 * Version 5 - Added Mobile Compatibility *
 * ====================================== */
 
/* =============================================== *
 * Version 6 - Added Advisor Page Navigation Links *
 * =============================================== */
 



.tilestyle {
	max-width: 90% !important;
	
	}
	
.d-block {
	height: auto !important;
	}
	
.txtbg {
	bottom: -75% !important;
	}



/* -- Hover Effect for Tiles -- */


#slide {
    position: absolute;
    bottom: -80% !important;
    width: 100%;
    height: 100%;
    transition: .5s;
	background-color: rgba( 0,0,0,0.6 );
	text-align: center !important;
	text-shadow: 1px 1px #000000;
	padding: 0px 4px 4px 4px;
    margin: auto;
}

#slide p{
    font-size: 20px; 
    font-family: calibri; 
    color: white;
    margin-top: -4px;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 295px;
    height: auto !important;
	text-align: center;
	vertical-align: middle;
    cursor: pointer;
}

.wrapper:hover #slide {
    transition: .5s !important;
    bottom: 0 !important;
	}


/* Transparent Color Left Side */ 

.txtbg {
position: absolute;
    bottom: -175px;
    width: 100%;
    height: 100%;
	background-color: rgba( 0,0,0,0.6 );
	text-align: left !important;
}

/* Right Side 2X3 Grid*/

.rowcell > div {
    max-width: 295px;
	min-width: 150px;
	padding-left: 0px;
	padding-right: 0px;
}

.rowcell > div > img{
    width: 100%;
}


/* *^* Left Side Squares Only *^* */

.rowcell2 > div {
    max-width: 295px;
	padding-left: 0px;
	padding-right: 0px;
}

.rowcell2 > div >img{
    width: 100%;
}

.hide {
	display: none;
}